<div style="padding:60px 0 30px 0;box-sizing:border-box;height:100%;">

<div style="float:left;width:200px;border-right:solid 1px #ddd;background-color:#fff;height:100%;">
  <ul class="cube__list">
    <li class="icon-cube2">app-sales</li>
    <li class="icon-cube2">app-divine-log</li>
  </ul>
</div>

<div style="background-color:#fee;height:100%;">
</div>

</div>
