html, body {
  margin: 0;
  height: 100%;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body, div, span, td, nav {
  font-family: "Open Sans";
  font-weight: 300;
}

body {
  background-color: #eee;
}

/**
 * Cube block
 */
ul.cube__list li {
  font-size: 14px;
}
